.header {
  background-color: var(--bg-secondary);
  height: var(--header-height);
  padding: 1.5rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: var(--shadow-md);
}

.title {
  cursor: pointer;
}

.iconsContainer {
  display: flex;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
