.main {
  padding: 2rem;
}

.recipeContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recipeImg {
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.recipeInstructions {
  white-space: pre-wrap;
  line-height: 1.5rem;
}

.ingredientLabel {
  display: flex;
  gap: 0.5rem;
  background-color: var(--bg-secondary);
  border: 2px solid var(--border-color);
  box-shadow: var(--shadow-sm);
  width: fit-content;
  padding: 1rem;
  border-radius: 5px;
}

.ingredientInput {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s, border 0.2s;
}

.ingredientInput:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.ingredientInput:checked::before {
  content: "✔";
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
}

.ingredientInput:checked + .ingredient {
  text-decoration: line-through;
}

.buttonContainer {
  display: flex;
  gap: 2rem;
}

.markerBtn {
  border-radius: 5px;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border: 2px solid var(--border-color);
  box-shadow: var(--shadow-md);
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.recipeVideo {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.finishBtn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.finishBtn:hover {
  background-color: var(--accent-color-hover);
}

.finishBtn:active {
  background-color: var(--accent-color-active);
}

.finishBtn:disabled {
  background-color: rgba(100, 100, 100, 0.1);
  cursor: not-allowed;
  color: gray;
}