.main {
  display: flex;
  min-height: calc(100dvh - var(--header-height));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.recipeContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--bg-secondary);
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
}

.recipeImg {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
}

.recipeTitle {
  font-size: 2.5rem;
  color: var(--text-primary);
  border-radius: 8px;
}

.recipeInstructions {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-primary);
}

.ingredientItem {
  list-style: none;
}

.ingredientLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
}

.ingredientInput {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s, border 0.2s;
}

.ingredientInput:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.ingredientInput:checked::before {
  content: "✔";
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
}

.ingredientInput:checked+.ingredient {
  text-decoration: line-through;
}

.ingredient {
  flex: 1;
}

.buttonContainer {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.markerBtn {
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
  box-shadow: var(--shadow-md);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.markerBtn:hover {
  background-color: var(--accent-color-hover);
  box-shadow: var(--shadow-lg);
}

.markerBtn:active {
  background-color: var(--accent-color-active);
  box-shadow: var(--shadow-sm);
}

.recipeVideo {
  aspect-ratio: 16/9;
  width: 100%;
  border: none;
  border-radius: 10px;

}

.finishNotice {
  color: var(--text-primary);
  font-weight: 500;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.finishBtn {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.finishBtn:hover {
  background-color: var(--accent-color-hover);
}

.finishBtn:active {
  background-color: var(--accent-color-active);
}

.finishBtn:disabled {
  background-color: rgba(100, 100, 100, 0.1);
  cursor: not-allowed;
  color: gray;
}
